// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito&family=Open+Sans&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.gsc-input {
    width: 300px;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.container {

}

.breadcrumb>li {
    display: inline-block;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

footer {
    position: relative;
    //float: bottom;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 20px 0;
    margin: 0;
    text-align: center;
    //background-color: #2c4966;
    background-color: #343a40 !important;
    color: white;
}

.thick-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.footer-box {
    padding: 20px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    width: 100%;

}

.download {
    padding: 5px 10px;
    background-color: #0bc25c;
    border-radius: 3px;
    margin: 15px;
    color: white;
    margin-bottom: 50px !important;
    text-decoration: none;

}
